<h4 class="p-3 mb-4 font-italic border-bottom">
  Objetivos
</h4>
<div class="blog-post">
  <ol>
    <li>Lograr que se cumpla la política, visión, misión, objetivos y normas nacionales de salud.</li>
    <li>Regular complementariamente, en materia de salud y evaluar el cumplimiento de las  normas de salud por las entidades públicas y privadas en su jurisdicción.</li>
    <li>Proponer las políticas, objetivos, metas y estrategias nacionales y regionales de salud a la Alta Dirección del Ministerio de Salud y al Gobierno Regional.</li>
    <li>Brindar en forma eficaz y oportuna, la asistencia, apoyo técnico y administrativo a la gestión de las Direcciones de RED de Salud y de los Hospitales, bajo su dependencia y jurisdicción.</li>
    <li>Cumplir y hacer cumplir los procesos organizacionales establecidos a las entidades públicas y privadas del Sector Salud, que debe supervisar, evaluar y controlar en su jurisdicción.</li>
    <li>Lograr la oportuna regulación, supervisión, inspección y control del cumplimiento de las normas y procedimientos, por las personas jurídicas y naturales, en la promoción de la salud, la prevención de riesgos y daños, la atención de la salud de las personas, la salud ambiental, el control sanitario de la producción, comercialización, dispensación y expendio de medicinas insumos y drogas y la participación en la prevención y control de emergencias y  desastres.</li>
    <li>Dirigir y ejecutar los procesos de protección, recuperación y rehabilitación de la  salud de la población, a través de los Hospitales y Entidades Públicas y Privadas del Sector Salud en su jurisdicción.</li>
    <li>Proteger la vida y salud de todos los niños por nacer desde su concepción y registrarlos oficialmente como concebidos y sujetos de los derechos constitucionales.</li>
    <li>Promover la salud y prevenir los riesgos y daños a la salud de la población en el marco de los objetivos a largo plazo de Perú Vida 2012 y de los Lineamientos de Política Sectorial para el período 2002-2012.</li>
    <li>Lograr que se capacite a las madres y familias en la estimulación prenatal, la adecuada nutrición materna y la preparación para el parto con participación paterna.</li>
  </ol>
</div>












