<h4 class="p-3 mb-4 font-italic border-bottom">
  Aseguramiento público
</h4>
<div class="text-center mb-4" id="img">
  <img src="http://www.audiolisformacion.com/images/Web/organigrama.jpg" alt="">
</div>
<div class="blog-post">
  <h5 class="mb-2">INFORMES DE AFILIADOS</h5>
  <div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      INFORME AFILIADOS 2017 -19 de mayo
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      INFORME AFILIADOS 2016 -19 de mayo
    </a>
  </div>
  <h5 class="mb-2">CONVENIOS CAPITA</h5>
  <div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      1ra_adenda CONVENIO CAPITA
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <span class="pdf-icon"></span>      
      2ra_adenda CONVENIO CAPITA
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      3ra_adenda CONVENIO CAPITA
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      Convenio Capita 2013
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <span class="pdf-icon"></span>
      Convenio Capita 2014
    </a>
  </div>
</div>
