<h4 class="p-3 mb-4 font-italic border-bottom">
  Historia
</h4>
<div class="blog-post">
    <p>
      Al conmemorarse el 50 Aniversario del fallecimiento del mártir de la medicina peruana Daniel A. Carrión, el 5 de octubre de 1935, fue promulgado el D.L. 8124 creando el Ministerio de Salud Pública, Trabajo y Previsión Social, en el cual se integraron la antigua Dirección de Salubridad Pública, las Secciones de Trabajo y Previsión Social, así como la de Asuntos Indígenas del Ministerio de Fomento; confiriéndosele además las atribuciones del Departamento de Beneficencia del Ministerio de Justicia.

      En 1942, adopta el nombre de Ministerio de Salud Pública y Asistencia Social, y en 1968, la denominación que mantiene hasta la actualidad: Ministerio de Salud.
        
      El primer titular de Salud fue el Dr. Armalnando Montesori del Peralta.
    </p>
</div>


