<h4 class="p-3 mb-4 font-italic border-bottom">
  Documentos de Gestión
</h4>
<div class="blog-post">
  <ul style="list-style-type: upper-alpha;">
    <li class="font-weight-bold">Reglamento de Organización y Funciones</li>
      <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Archivo: Reglamento de Organización y  Funciones - DINASA</a>
      </div>
    <li class="font-weight-bold">Manual de Organización y Funciones</li>
      <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Archivo: RDN-2007-Aprueba-Dinasa</a>
        <a href="#" class="list-group-item list-group-item-action">Archivo: Manual de Organización y Funciones - DINASA</a>
      </div>
    <li class="font-weight-bold">Cuadro de Asignación de Personal</li>
      <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Archivo: Cuadro de Asignación de Personal - DINASA</a>
      </div>
    <li class="font-weight-bold">Plan operativo Institucional</li>
      <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Archivo: POI_pag_01-107</a>
        <a href="#" class="list-group-item list-group-item-action">Archivo: POI_anexos_desastre</a>
      </div>
  </ul>
</div>

