<h4 class="p-3 mb-4 font-italic border-bottom">
  Estructura orgánica
</h4>
<p>
La Estructura Orgánica de la Dirección Regional de Salud Puno, se establece hasta el segundo nivel organizacional  y es la siguiente:
</p>
<div class="blog-post">
  <h5 class="mb-2">ORGANO DE DIRECCIÓN</h5>
  <ul class="mb-4">
    <li>Secretaria Administrativa</li>
    <li>Asesoria Legal</li>
    <li>Defensoria dela Salud</li>
  </ul>
  <h5 class="mb-2">ORGANO DE CONTROL</h5>
  <ul class="mb-4">
    <li>Oficina Ejecutiva de Control Institucional</li>
  </ul>
  <h5 class="mb-23">ORGANO  DE ASESORAMIENTO</h5>
  <ul class="mb-4">
    <li>Oficina Ejecutiva de Planeamiento y Presupuesto</li>
  </ul>
  <h5 class="mb-2">ORGANOS  DE APOYO</h5>
  <ul class="mb-4">
    <li>Oficina Ejecutiva de Administración</li>
    <li>Oficina Ejecutiva de Recursos Humanos</li>
    <li>Oficina de Estadística, Informática y Telecomunicaciones</li>      
  </ul>
</div>